<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>GIDServerClientID</key>
	<string>646976955787-a8573evq798hm6gafv69ek7dmer8l2d8.apps.googleusercontent.com</string>
	<key>GIDClientID</key>
	<string>646976955787-o2viei9n3p7emcanmk74jn26ibm281bc.apps.googleusercontent.com</string>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.646976955787-o2viei9n3p7emcanmk74jn26ibm281bc</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
